body,html {
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background:linear-gradient(to right, #696969,#708090);
}

body {
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
canvas {
  width: 100vw !important;
  height: 100vh !important;
}